<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApfBaseContext" connectionString="metadata=res://*/ApfBaseEntities.ApfBaseModel.csdl|res://*/ApfBaseEntities.ApfBaseModel.ssdl|res://*/ApfBaseEntities.ApfBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALEXPC\SQLEXPRESS;initial catalog=ApfBase;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>